/*
 Theme Name: CoopTriangle
 Description: Go Child Theme for website of Cooperación Triangular.
 Author: Gerald Kogler
 Author URI: http://geraldo.github.io
 Template: go
 Version: 1
 */

 :root {

	/* Content width */
	--go--max-width: 50rem;
	--go--max-width--wider: 60rem;
	--go--max-width--wide: 70rem;
	--go--max-width--alignwide: 80rem;

	/* Spacing */
	--go--viewport-basis: 790;
	--go--spacing--header: 20;
	--go--spacing--horizontal: 40;
	--go--spacing--paragraph: 13;

	/* Typography */
	--go--color--text: #575756;
	--go--color--text--active: #37afc8;
	--go--color--text--lightgrey: #e7e7e7;
	--go--font-family: "Lato", sans-serif;
	--go--font-size--small: 80%;
	--go--font-size--small2: 90%;
	--go--font-size--very-small: 60%;
	--go--font-size--big: 1.4rem;
	--go--font-size--biggest: 2rem;
	--go--font-size--bigger: 1.2rem;
	--go--font-size: 1rem;
	--go--font-size--smaller: 14px;
	--go--font-weight: 300;
	--go--font-weight--bold: 700;
	--go--font-weight--black: 900;
	--go--line-height: 1.5;
	--go--type-ratio: 1.3;

	/* Headings */
	--go-heading--button-spacing: 1.75rem;
	--go-heading--color--text: #004561;
	--go-heading--font-family: "Lato", sans-serif;
	--go-heading--font-weight: 900;
	--go-heading--line-height: 1.2;
	--go-heading--margin-bottom: 1rem;
	--go-logo-mobile--max-width: 100% !important;

	/* Captions */
	--go-caption--color--text: hsl(0, 0%, 0%);
	--go-own-pub--background: #eff7f6;
	--go--line--color: #d0d0d0;

	/* Links */
	--go--hyperlink--color--text: #0087a3;
	--go--hyperlink-interactive--color--text: var(--go--color--primary);

	/* Buttons */
	--go-button--border-radius: 0;
	--go-button--font-size: 0.75rem;
	--go-button--font-weight: 700;
	--go-button--letter-spacing: 0;
	--go-button--padding--x: 1rem;
	--go-button--padding--y: 0.5rem;
	--go-button--text-transform: uppercase;
	--go-button-interactive--color--background: var(--go-heading--color--text);
	--go-button--color--text: #36b0c9;
	--go-button--color--background: transparent;

	/* Input */
	--go-input--color--background: var(--go--color--tertiary);
	--go-input-interactive--color--background: var(--go--color--primary);
	--go-input-interactive--color--text: var(--go--color--white);
	--go-input--border: var(--go-input--border-width, 3px) var(--go-input--border-style, solid) var(--go-input--border-color, var(--go--color--primary));
	--go-input--color--text: var(--go--color--primary);
	--go-input--font-size: 1.1rem;
	--go-input--padding--x: 1.5rem;
	--go-input--padding--y: 1.5rem;

	/* Site Title */
	--go-site-title--color--text: var(--go--color--primary);
	--go-site-title--font-size: 1.75rem;
	--go-site-title--font-family: var(--go-navigation--font-family);
	--go-site-title--text-transform: uppercase;
	--go-site-title--letter-spacing: 3px;

	/* Site Description */
	--go-site-description--color--text: var(--go--color--primary);
	--go-site-description--opacity: 1;
	--go-site-description--font-size: 0.65rem;
	--go-site-description--letter-spacing: 10px;

	/* Site Navigation */
	--go-navigation--color--text: var(--go--color--primary);
	--go-navigation--font-size: 0.9rem;
	--go-navigation-mobile--font-size: 1rem;
	--go-navigation--text-transform: uppercase;
	--go-submenu--color--background: var(--go--color--primary);

	/* Site Search */
	--go-search-button--color--text-interactive: var(--go-heading--color--text);
	--go-search-button--color--background: var(--go--color--primary);
	--go-search-button--color--background-interactive: var(--go-heading--color--text);
	--go-search-button--icon--size: 1.1rem;

	/* Social */
	--go-social--size: 2.5rem;
	--go-social--padding: 0.75rem;
	--go-social--color--text: var(--go--color--primary);

	/* Footer  */
	--go-footer--color--text: var(--go--color--primary);

	/* Swipert */
	--swiper-pagination-color: var(--go--color--primary);
	--swiper-navigation-color: var(--go--color--primary);
}

/* general */
p:empty::before {
    content: none;
}

body {
	font-weight: var(--go--font-weight);
}

b, strong {
	font-weight: var(--go--font-weight--bold);
}

header.page-header {
	--double-padding: calc(var(--go-block--padding--x)*2);
	max-width: var(--go--max-width);
	width: calc(100% - var(--double-padding));
}
header.page-header.px {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

h1 {
	font-size: var(--go--type-scale-2);
	color: var(--go-h2--color--text,var(--go-heading--color--text));
}
h1.text-center {
	text-align: left;
}

h2 {
	text-transform: uppercase;
	font-size: var(--go--type-scale-2);
}

h2 img {
	vertical-align: bottom;
}

input:focus, textarea:focus {
	background-color: var(--go--color--tertiary) !important;
	color: var(--go--color--text) !important;
}

input, textarea {
	border: none !important;
}

.button, button, .wp-block-button__link {
	border: 1px solid var(--go-button--color--text);
	letter-spacing: 0.06em;
	transition: none;
}
.button.inactive {
	color: var(--go--color--text--lightgrey);
	border: 1px solid var(--go--color--text--lightgrey);
}
.button.inactive:hover {
	color: var(--go--color--text--lightgrey);
	background-color: #ffffff;
	border: 1px solid var(--go--color--text--lightgrey);
	cursor: default;
}

.wp-block-button__link:visited,
.wp-block-file a.wp-block-file__button:visited {
	color: var(--go-button--color--text);
}
.button:hover, button:hover, 
.wp-block-button__link:hover, 
.wp-block-file a.wp-block-file__button:hover {
	color: #ffffff;
	background-color: var(--go-button--color--text);
}
.wp-block-button__link {
	margin-top: 20px;
}
.wp-block-file * + .wp-block-file__button {
    margin-left: 0;
}

.has-header-1.has-featured-image .header {
	position: relative !important;
}

.page article div.content-area__wrapper div.wp-block-group:nth-of-type(1) {
	background-color: var(--go--color--tertiary);
	max-width: 100% !important;
	width: 100% !important;
	margin-bottom: 0;
}

.page article div.content-area__wrapper div.wp-block-group:nth-of-type(1) .wp-block-group__inner-container {
	padding: 40px 0;
}

.page-id-928 article div.content-area__wrapper div.wp-block-group:nth-of-type(1) .wp-block-group__inner-container,
.page-id-935 article div.content-area__wrapper div.wp-block-group:nth-of-type(1) .wp-block-group__inner-container,
.page-id-939 article div.content-area__wrapper div.wp-block-group:nth-of-type(1) .wp-block-group__inner-container {
	padding: 0;
	margin: 40px 0;
}

.page article div.content-area__wrapper div.wp-block-group:nth-of-type(1) p {
	color: var(--go-heading--color--text);
	font-weight: 400;
}

.page .wp-block-media-text .wp-block-media-text__content {
	padding-right: 13%;
}

.wp-block-media-text .wp-block-media-text__content, .wp-block-media-text .wp-block-media-text__media {
    -ms-grid-row-align: auto;
    align-self: auto;
}

#single-pub {
	--double-padding: calc(var(--go-block--padding--x)*2);
	margin-left: auto;
	margin-right: auto;
}

.page article div.wp-block-group:nth-of-type(1) .wp-block-group__inner-container,
#volver,
#single-pub {
	max-width: unset;
	width: calc(100% - var(--double-padding)*3);
}

#breadcrumb {
	margin-top: 25px;
	color: var(--go-navigation--color--text);
	font-size: var(--go--font-size--small);
}

#breadcrumb a {
	color: var(--go--color--text);
	text-decoration: none;
}

#breadcrumb .current-item {
	border-bottom: 1px solid var(--go--color--text--lightgrey);
	color: var(--go--color--text);
}

#site-header {
	text-align: center;
}

#site-header .second {
	padding-left: 10vw;
	padding-right: 10vw;
}

.custom-logo {
	width: 400px;
}

.page .wp-block-group:not(:first-child) h2 {
	color: var(--go--color--text--active);
}

.page .publications .wp-block-group {
	padding-bottom: 30px;
	border-bottom: 1px solid var(--go--line--color);
}

.page .wp-block-group.own_pub {
	border-bottom: none;
	max-width: var(--go--max-width--wider) !important;
}

.own_pub .feature-img {
	position: relative;
}

.icon-own-pub {
	width: 50px;
	height: 50px;
	position: absolute;
	top: -20px;
	left: -20px;
}

.page-id-20 .entry-content .wp-block-group:nth-of-type(2) {
	margin-top: 0;
	max-width: unset !important;
	width: unset !important;
	background-image: url('/wp-content/uploads/2021/04/mapa-el-proyecto-1.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: right;
	background-position-y: top;
}

.page-id-20 .entry-content .wp-block-group:nth-of-type(2) .wp-block-group__inner-container {
	padding-top: calc(var(--go--spacing--vertical)*3);
	--double-padding: calc(var(--go-block--padding--x)*2);
	max-width: var(--go--max-width);
	width: calc(100% - var(--double-padding));
}

.page-id-20 .wp-block-media-text__media img {
	width: 90%;
}

.home .wp-block-group:not(:first-child) {
	border-bottom: none;
}

#footer {
	margin-top: 180px;
	color: var(--go--color--primary);
	font-size: var(--go--font-size--small2);
}

#footer .wp-block-column {
	padding: 0;
}

#footer .wp-block-columns > :last-child {
	text-align: right;
}

#footer #breadcrumb {
	font-size: 13px;
}

#footer h1 {
	font-size: 27px;
}

#colophon {
	font-size: var(--go--font-size--small);
}

.copyright {
	margin-left: 50px;
}
.copyright img {
	padding-top: 5px;
}

.social-icons svg {
	fill: var(--go--color--text--active);
}

.entry-content > * {
    margin-top: calc(var(--go--spacing--vertical)*3);
    margin-bottom: calc(var(--go--spacing--vertical)*2);
}

.entry-content > :first-child {
    margin-top: calc(var(--go--spacing--vertical--lg)*0.2);
}

.header__navigation li.menu-item {
	margin-left: 5px;
}

.header__navigation .menu-item a {
	margin-left: 8px;
	color: var(--go-navigation--color--text);
}
.primary-menu > li > .sub-menu {
  top: auto;
}
.primary-menu .sub-menu a {
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 5px;
	font-size: var(--go--font-size--small);
	display: inline;
}
.primary-menu .sub-menu .menu-item {
	margin-left: 4px;
}
.header__navigation .menu-item:not(:first-child)::before {
  content: none !important;
}
.primary-menu > li > .sub-menu::before {
  border-bottom: none;
 }

.header__navigation .menu-item a:hover {
	text-decoration: none;
    border-bottom: 1px solid var(--go--color--text--active);
}

.header__navigation .current-menu-item a {
	border-bottom: 1px solid var(--go--color--text--active);
}

.header__navigation .menu-item:not(:first-child)::before {
	content: "·";
}

.header-group p {
	color: var(--go-heading--color--text);
}

.header-logos img {
	height: 50px;
}

.header-logos .segib {
	padding-bottom: 3px;
}

.header-logos .eu {
	margin-left: 45px;
}

#searchform {
	border-bottom: 1px solid var(--go--color--text--lightgrey);
}

#searchform label,
#searchform input,
#searchform .header__search-toggle {
	display: inline;
	color: var(--go--color--text--lightgrey);
}

#searchform label {
	text-transform: uppercase;
	font-size: var(--go--font-size--very-small);
	text-decoration: none;
}

#searchform .buscar-label {
	color: var(--go--color--text);
}

#searchform input {
	border: none;
	padding: 0;
	width: auto;
	background-color: var(--go--color--background);
}

#searchform input:focus {
	background-color: var(--go--color--tertiary);
}

#searchform .header__search-toggle {
	padding: 0;
}

#searchform .search-icon {
	width: 16px;
}

.wpml-ls {
	margin-left: 50px;
	font-size: var(--go--font-size--very-small);
	color: var(--go-navigation--color--text);
}

.wpml-ls-legacy-list-horizontal a {
    padding: 5px;
}

.wpml-ls .wpml-ls-current-language {
	border: 1px solid var(--go-navigation--color--text);
}

.wpml-ls .wpml-ls-current-language .wpml-ls-link {
	cursor: default;
}

select {
	width: 20px;
	display: inline;
	margin-left: 10px;
	cursor: pointer;
	border: none;
	padding: 0 0 0 15px !important;
}

label {
	display: inline;
}

.alignwide {
    margin-bottom: calc(var(--go--spacing--vertical--lg)/2);
}

.page-id-23 .wp-block-media-text__media img,
.page-id-484 .wp-block-media-text__media img,
.page-id-774 .wp-block-media-text__media img {
	max-width: 500px;
	margin-top: -40px;
}

.post-header {
	height: 320px;
}

.post-content {
	padding: 0 50px;
}

/* front page */
.front-footer {
	background-color: var(--go--color--tertiary);
	padding: 50px 0;
}

.front-footer a {
	text-decoration: none;
}

.front-footer .wp-block-columns .wp-block-column {
    padding: 0;
}

.title {
	font-weight: var(--go-heading--font-weight);
	padding-bottom: 10px;
	margin-bottom: 10px;
	color: var(--go-heading--color--text);
	font-size: var(--go--font-size--big);
	line-height: 1.1;
}

.title a {
	text-decoration: none;
}

.ods-text {
	color: var(--go-heading--color--text);
	width: 40%;
	padding-bottom: 50px;
	margin: auto;
}

.ods-image {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 350px;
}

/* select */
.custom-select-wrapper {
	position: relative;
	user-select: none;
}
.custom-select {
	position: absolute;
	display: flex;
	flex-direction: column;
	border: none;
	bottom: 10px;
	width: 100%;
}
.custom-select__trigger {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 22px;
	font-size: 20px;
	font-weight: 300;
	color: #3b3b3b;
	height: 50px;
	cursor: pointer;
	border: none;
}
.custom-options {
	position: absolute;
	display: block;
	top: 100%;
	left: 0;
	right: 0;
	border: 1px solid var(--go--color--text--lightgrey);
	border-top: 0;
	background: #fff;
	transition: all 0.5s;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 2;
}
.custom-select.open .custom-options {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}
.custom-option {
	position: relative;
	display: block;
	padding: 0 22px 5px 22px;
	cursor: pointer;
	transition: all 0.5s;
	border-bottom: 1px solid var(--go--color--text--lightgrey);
}
.custom-option:hover {
	cursor: pointer;
	background-color: #b2b2b2;
}
.custom-option.selected {
	color: #ffffff;
	background-color: var(--go-button--color--text);
}
.custom-option.first {
	padding: 0;
}
.custom-select__trigger span {
	color: transparent;
}
.custom-option svg {
    width: 20px;
    vertical-align: bottom;
}

/* publications */
.btn-own-pub {
	position: absolute;
	right: 20%;
	margin-top: -20px !important;
	color: #ffffff;
	font-size: var(--go--font-size);
	background-color: var(--go-button--color--text);
	z-index: 10;
	font-weight: 400;
}

.btn-own-pub:hover {
	color: var(--go-button--color--text);
	background-color: #ffffff;
}

#swiper-own-pub {
	background-color: var(--go-own-pub--background);
	max-width: var(--go--max-width--wider);
}

#swiper-own-pub.swiper-container {
	position: relative;
	margin-bottom: calc(var(--go--spacing--vertical)*3);
}

#swiper-own-pub .super .own {
	display: none;
}

.page-template-publicaciones-template main .feature-img, #swiper-own-pub .feature-img,
.page-template-publicaciones-template main .content-resume, #swiper-own-pub .content-resume,
.page-template-publicaciones-template main .content-text, #swiper-own-pub .content-text {
	float: left;
	padding: 0;
}

#swiper-own-pub .thumb-publication {
	margin-left: 25px;
	max-width: 70%;
}

#swiper-own-pub .icon-own-pub {
	left: 0;
}

.own_pub {
	background-color: var(--go-own-pub--background);
	padding: 40px 0;
}

.publication {
	margin: 20px auto;
	color: var(--go--color--text);
}

.publication-wrapper {
    margin-top: 70px;
}

.super {
	font-size: var(--go--font-size--smaller);
	color: var(--go--color--text--active);
	text-transform: uppercase;
}

.super .own {
	color: #ffffff;
	background-color: var(--go-button--color--text);
	padding: 3px 6px;
	margin-right: 5px;
}

.aiovg-thumbnail .super {
	margin-top: 20px;
}

.page-template-publicaciones-externas-template .filtros,
.page-template-publicaciones-externas-template .entry-content > .article,
.page-template-publicaciones-template .filtros,
.page-template-publicaciones-template .own_pub,
.page-template-publicaciones-template .entry-content > .article {
	max-width: var(--go--max-width--wider) !important;
}

.page-template-publicaciones-externas-template article div.content-area__wrapper div.wp-block-group:nth-of-type(1) {
  margin-bottom: 100px;
}

.page-template-publicaciones-propias-template article div.content-area__wrapper div.wp-block-group:nth-of-type(1) {
	background-color: transparent;
}

.page-template-publicaciones-propias-template .entry-content .wp-block-group .wp-block-column h2 {
	margin-left: 100px;
}

.page-template-publicaciones-template .title,
.single-publication .title {
	margin-top: 10px;
}

.single-publication .title,
.single-post .title {
	font-size: var(--go--font-size--biggest);
}

.page-template-publicaciones-template .date,
.page-template-publicaciones-template .authors,
.page-template-publicaciones-template .entities,
.single-publication .date,
.single-publication .authors,
.single-publication .entities {
	font-size: var(--go--font-size--smaller);
}

.single-post .title {
	color: var(--go--hyperlink--color--text);
}

.page-template-publicaciones-template .wp-block-group__inner-container .wp-block-columns {
	max-width: unset !important;
}

[class*="__inner-container"] > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide):not(h1) {
    max-width: 100%;
}

.remove-search {
	cursor: pointer;
	color: var(--go--color--text--active);
	padding-left: 3px;
}

.thumb-publication,
.thumb-news {
	width: auto !important;
	float: left;
	margin-right: 50px;
}

.search-btn .search-icon,
.search-btn svg {
	width: 15px;
   fill: var(--go-button--color--text);
}

.search-btn:hover svg {
   fill: #ffffff;
}

.buscador {
	margin-left: 0 !important;
}

#searchForm {
	display: flex;
	align-items: center;
	position: relative;
}

#searchForm .icon {
	width: 25px;
	margin-right: 10px;
	display: inline-block;
	text-align: center;
}

#searchForm .icon img {
	max-width: 20px;
	max-height: 20px;
}

#searchForm .icon.autor img,
#searchForm .icon.entity img {
	max-width: 25px;
}

#searchForm .inputs,
#searchForm .btns {
	float: left;
	padding-left: 30px;
}

#searchForm .inputs {
	width: 60%;
	border-left: 1px solid white;
	background-image: url('assets/separador-buscador.png');
	background-repeat: no-repeat;
	background-position-x: right;
	background-size: contain;
}

#searchForm .btns {
	width: 40%;
}

/*#searchForm select {
	background-image: url('assets/flecha-abajo.png');
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center;
}*/

.logo-icon {
	background-image: url('assets/flecha-abajo.png');
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center;
}

#searchForm .arrow img {
    width: 15px;
    vertical-align: baseline;
    margin-left: 5px;
}

#searchForm p {
	margin-bottom: 1rem;
}

#searchForm button {
	font-size: var(--go--font-size);
}

.download {
	padding: 20px 0;
}

.filtros {
	border-bottom: 1px solid var(--go--line--color);
	padding-bottom: 30px;
}

.filtros .filtro {
	padding-left: 20px;
}

.pub-placeholder,
.thumb-publication {
	border: 1px solid #d0d0d0;
}

/* news */
.has-header-1.has-featured-image.admin-bar .header, .has-header-2.has-featured-image.admin-bar .header, .has-header-3.has-featured-image.admin-bar .header, .has-header-4.has-featured-image.admin-bar .header {
    top: 0;
}

.nav-links {
	height: 35px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: var(--go--font-size--small);
}

.nav-before .nav-links {
	border-bottom: 1px solid var(--go--line--color);
}

.nav-after .nav-links {
	border-top: 1px solid var(--go--line--color);
	padding-top: 10px;
}

.nav-previous a {
	color: var(--go--color--text);
}

.nav-links .icon {
	width: 26px;
	padding: 0 8px;
	margin-top: -4px;
}

.nav-links .icon-up {
	width: 23px;
}

.nav-up .aligncenter {
	position: absolute;
	left: 50%;
}

article.post {
	margin-top: 70px;
}

article.news {
	border-bottom: 1px dotted black;
	align-items: top;
	padding-bottom: 50px;
	color: var(--go--color--text);
}

.entry-content > article.news {
    margin-top: 50px;
}

article.news-sticky {
	display: flex;
	align-items: top;
	color: var(--go--color--text);
	background-color: var(--go--color--text--active);
}

article.news-sticky .text-content {
	padding: 0 20px 40px 20px;
}

.feature-img.align-right {
	text-align: right;
}

.post .date,
.news .date,
.news-sticky .date {
	font-weight: var(--go--font-weight--bold);
	color: var(--go--color--primary);
	margin-bottom: 0.6rem;
}

.blog .date {
	font-size: var(--go--font-size--smaller);
}

article.news-sticky .title {
	border-bottom: 1px solid var(--go--color--text);
	margin-top: 20px;
}

article.news-sticky .title a {
	font-size: var(--go--type-scale-2);
	color: #ffffff;
}

article.news-sticky .date {
	font-size: var(--go--font-size--bigger);
}

.more-news {
	text-align: center;
	padding-bottom: 100px;
}

.section-news {
	margin-top: 150px;
}

.read-more {
	display: block;
	margin-top: 10px;
	font-weight: var(--go--font-weight--bold);
	font-size: var(--go--font-size--small);
	margin-top: 20px;
}

article.news-sticky .read-more {
	color: var(--go--color--primary);
}

/* front swiper */
.front-swiper .wp-swiper__slide .wp-swiper__slide-content {
	background-color: #e7e7e7;
}

.front-swiper .swiper-button-next {
	right: 20px;
}
.front-swiper .swiper-button-prev {
	left: 20px;
}

.front-swiper .swiper-button-next,
.front-swiper .swiper-button-prev {
	color: #004561;
}

.front-swiper .swiper-button-next svg,
.front-swiper .swiper-button-prev svg {
	display: none;
}

.front-swiper .alignwide {
	margin: 0;
	--double-padding: 0;
	max-width: unset;
}

.front-swiper .wp-block-media-text {
	grid-template-columns: 55% 1fr;
}

.front-swiper .swiper-pagination-bullets {
    bottom: -30px;
    left: 0;
    width: 100%;
}

.front-swiper .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}

.front-swiper .wp-block-media-text__media img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}

.front-swiper .wp-block-media-text .wp-block-media-text__content {
	padding-left: 50px;
	padding-top: 40px;
}

.front-swiper h2 {
	width: 70%;
	position: relative;
}

.front-swiper h2:after {
	content: "";
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid var(--go-button--color--text);
	position: absolute;
	left: 0;
	bottom: -20px;
}

.front-swiper h2 a {
	text-decoration: none;
	color: var(--go-heading--color--text);
}

.front-swiper p {
	color: var(--go--color--text);
	padding-top: 25px;
	font-size: 18px;
	line-height: 24px;
}

.wp-block-file a {
	display: none;
}

.wp-block-file .wp-block-file__button {
	display: block;
	border: 1px solid var(--go-button--color--text);
	letter-spacing: 0.06em;
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:hover,
.wp-block-file .wp-block-file__button:hover {
	color: #ffffff;
	background-color: var(--go-button--color--text);
}

.wp-block-media-text__media img.wp-image-14 {
	width: 110%;
}

/* front page */
.agenda-img {
	position: absolute;
	z-index: 10;
	right: 50px;
	margin-top: -35px;
}

.block-second {
	background-image: url('assets/Mapa-portada.svg');
	background-repeat: no-repeat;
	background-size: contain;
	padding: 0 10%;
}

.block-second > .wp-block-group__inner-container > .wp-block-media-text {
	max-width: var(--go--max-width--wide) !important;
	width: 80% !important;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 30px;
}

.block-second-center {
	padding-left: 40%;
	padding-right: 10%;
	color: var(--go-button--color--text);
}

.block-second-button {
	margin-top: 50px;
	text-align: center;
}

#single-pub .wp-block-group {
	width: 100%;
	max-width: 100%;
}

article #single-pub .feature-img {
	width: 25% !important;
}

article #single-pub .content-text {
	margin-left: 30%;
}

/* search */
.search .entry-header {
	text-align: left;
	padding-top: 40px;
}

.search .read-more {
	width: auto !important;
	margin-top: 15px;
}

.shariff {
	margin: 80px 0;
}
.ShariffHeadline {
	float: left;
	line-height: 32px;
	margin-right: 10px;
	font-size: var(--go--font-size--small);
	color: var(--go-button--color--text);
	font-weight: bold;
}

/* contacto */
.page-id-5 .post__title,
.page-id-481 .post__title,
.page-id-488 .post__title {
	text-transform: uppercase;
	font-size: 19px;
	text-align: left !important;
	padding-bottom: calc(var(--go--spacing--vertical--lg)*0.55);
}

.page-id-5 .wpml-ls,
.page-id-481 .wpml-ls,
.page-id-488 .wpml-ls {
	width: 126px;
}

.page-id-5 #footer h2,
.page-id-481 #footer h2,
.page-id-488 #footer h2 {
	clear: none;
	margin-bottom: 53px;
}

.coblocks-form .checkbox {
	margin-top: 50px;
}

/* vídeos */
.aiovg_videos-template-default .aiovg_videos .entry-header {
	display: none;
}
.taxonomy.aiovg_categories {
	display: none;
}
.aiovg_videos .title {
	margin-top: 40px;
	font-size: var(--go--font-size--biggest);
}
.aiovg_videos h3 {
	text-transform: uppercase;
	font-size: var(--go--font-size--small);
	color: var(--go--color--text);
	border-bottom: 1px solid var(--go--color--text--lightgrey);
}
a.nav-title {
	text-decoration: none;
}
.single-aiovg_videos .aiovg-description {
	float: right;
}

/* menu */
.primary-menu .sub-menu {
	background-color: transparent;
	font-size: var(--go--font-size--small);
	text-decoration: none;
}

/* media quieries */
@media (min-width:768px) {
	.front-swiper p {
	    padding: 25px 70px;
	}
	.home .second.header__inner {
	    padding-bottom: 50px;
	}
	/*.page-template-publicaciones-template main .feature-img, #swiper-own-pub .feature-img {
		width: 20%;
	}
	.page-template-publicaciones-template main .content-resume, #swiper-own-pub .content-resume {
		width: 30%;
	}
	.page-template-publicaciones-template main .content-text, #swiper-own-pub .content-text {
		width: 40%;
		margin-top: 30px;
	}*/

	.news, .news-sticky {
		display: flex;
	}
	.text-content, .feature-img {
		width: 50%;
		float: left;
	}
	.ods-image-es {
		background-image: url('assets/ODS-1.png');
	}
	.ods-image-en {
		background-image: url('assets/ODS-1-EN.png');
	}
	.ods-image-pt-br {
		background-image: url('assets/ODS-1-PT.png');
	}
	.pub-columns {
		margin-left: 200px !important;
		width: auto !important;
	}
	.pub-img {
		width: auto !important;
	}
	.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:first-child {
		margin-left: var(--wp--style--block-gap,4em);
		margin-right: var(--wp--style--block-gap,3em);
	}
	.page-id-928 .site-content .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column,
	.page-id-936 .site-content .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column,
	.page-id-939 .site-content .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
		margin: 40px 0;
	}
	.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:first-child) {
		margin-left: 0;
		margin-right: var(--wp--style--block-gap,4em);
	}
	.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:nth-child(2) {
		margin-left: 0;
		/*margin-right: 0;*/
	}

	.own_pub .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:first-child {
		margin-right: 0;
	}
	.own_pub .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:nth-child(2) {
		margin-right: var(--wp--style--block-gap,3em);
	}

	.page-template-publicaciones-propias-template .own_pub .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:nth-child(2) {
		margin-right: 0;
	}
}

@media (min-width:960px) {
	.page-id-5 main,
	.page-id-481 main,
	.page-id-488 main {
		float: right;
		width: 70%;
		max-width: 960px;
		margin-top: 130px;
	}

	.page-id-5 form,
	.page-id-481 form,
	.page-id-488 form {
	    float: left;
	    width: 100%;
	    max-width: 600px;
	}

	.page-id-5 #breadcrumb,
	.page-id-481 #breadcrumb,
	.page-id-488 #breadcrumb {
		display: none;
	}

    .page-id-5 #footer,
    .page-id-481 #footer,
    .page-id-488 #footer {
    	margin-top: 30px;
		--double-padding: calc(var(--go-block--padding--x)*2);
		width: calc(100% - var(--double-padding));
		max-width: var(--go--max-width--wider) !important;
		margin-left: auto;
		margin-right: auto;
	}

	.page-id-5 .wp-block-columns,
	.page-id-481 .wp-block-columns,
	.page-id-488 .wp-block-columns {
    	display: block;
    	--double-padding: calc(var(--go-block--padding--x)*0.3*2);
		max-width: 40%;
		width: 40%;
    }

    .page-id-5 #footer .wp-block-columns > :last-child,
    .page-id-481 #footer .wp-block-columns > :last-child,
    .page-id-488 #footer .wp-block-columns > :last-child {
    	text-align: left;
    }

    .page-id-5 .wp-block-column,
    .page-id-481 .wp-block-column,
    .page-id-488 .wp-block-column {
    	margin-left: 0 !important;
    	margin-top: 40px;
    }

    .page-id-5 #footer .post__title,
    .page-id-5 #footer #breadcrumb,
    .page-id-481 #footer .post__title,
    .page-id-481 #footer #breadcrumb,
    .page-id-488 #footer .post__title,
    .page-id-488 #footer #breadcrumb {
		display: block;
		clear: none;
	}

    #breadcrumb,
    #site-content .entry-content > .nav-before,
	#site-content .entry-content > .nav-after {
		max-width: unset;
		width: calc(100% - var(--double-padding)*3);
	}
}

@media (max-width:768px) {
	#header__navigation {
		height: 60%;
		margin: auto 20px;
		border: 1px solid #eee;
	}
	#header__navigation #menu-primary {
	    overflow: hidden;
	}
	.agenda-img {
		right: 0;
		margin-top: 145px;
	}
	.agenda-img img {
		width: 80%;
	}
	.home .wp-block-media-text__media,
	.page-id-20 .wp-block-media-text__media {
		margin: 0 0 30px !important;
	}
	.block-second > .wp-block-group__inner-container > .wp-block-media-text {
		padding-top: 0;
	}
	.header__inner, .header__extras {
		display: block;
	}
	.header-logos {
		height: 55px;
	}
	.header-logos img {
		float: left;
		margin: 0;
	}
	.header-logos .eu {
		margin-left: 20px;
		margin-bottom: 20px;
	}
	.lang-menu {
		float: right;
	}
	#searchform {
		margin: 20px 0;
	}
	.ods-text {
	    width: 260px;
	}
	.ods-image-es {
		background-image: url('assets/ODS-2.png');
		height: 550px;
	}
	.ods-image-en {
		background-image: url('assets/ODS-2-EN.png');
		height: 550px;
	}
	.ods-image-pt-br {
		background-image: url('assets/ODS-2-PT.png');
		height: 550px;
	}
	.buscador {
		flex-grow: 2;
	}
	.feature-img,
	.feature-img.align-right {
		text-align: center;
		margin-bottom: 30px;
	}
	.block-second-center {
		padding: 0;
	}
	.block-second > .wp-block-group__inner-container > .wp-block-media-text {
		margin-left: 0;
		width: 100% !important;
	}
	.navigation .nav-title {
		display: none;
	}
	.post-header {
	    height: auto;
	}
	.thumb-news {
    	margin-bottom: 30px;
	}
	.post-content {
	    padding: 0;
	}
	.search-btn span {
		display: none;
	}
	#searchForm .inputs {
		padding-left: 0;
		border-left: none;
		width: 85%;
	}
	#searchForm .btns {
		width: 15%;
		padding-left: 20px;
		margin-top: -8px;
	}
	article #single-pub .feature-img {
		width: auto !important;
	}
	article #single-pub .content-text {
		margin-left: 0;
	}
	.page-id-20 .wp-block-media-text__media img {
	    width: 110%;
	}
	.front-swiper .wp-block-media-text.is-stacked-on-mobile:not(.is-style-card) .wp-block-media-text__content {
	    padding: 20px;
	}
}

@media (max-width:959px) {
	.wp-block-columns {
		flex-wrap: wrap;
	}
	.wp-block-column {
		flex-basis: 100% !important;
	    flex-grow: 0;
	    padding-bottom: var(--go--spacing--vertical) !important;
	}
	.menu-is-open .header__navigation a {
		font-size: var(--go--font-size--bigger);
	}
	#nav-toggle {
		z-index: 1;
	}
	#nav-toggle:hover {
		color: var(--go-navigation--color--text);
	}
	#header__navigation li {
	    text-align: center;
	}
	/*.page-id-5 .page-header,
	.page-id-481 .page-header,
	.page-id-488 .page-header {
		display: block;
	}*/
}

@media (max-width:1280px) {
	.buscador {
		flex-grow: 1.5;
	}
}

@media only screen and (min-width: 960px) {
	.primary-menu .sub-menu {
		left: auto;
		transform: none;
		width: auto;
		padding: 0;
		text-align: left;
	}
}
